{% extends 'layout.html' %}
{% from 'macros.html' import render_attached_tags %}


{% block content %}
<section>
    <div class="container">
        <div class="entry-list single">
            <article>
                <h1>{{ entry.title }}</h1>
                <p>{{ entry.timestamp.strftime('%m/%d/%Y') }}</p>
                <div class="entry">
                    <h3>Time Spent: </h3>
                    <p>{{ entry.time_spent }}</p>
                </div>
                <div class="entry">
                    <h3>What I Learned:</h3>
                    <p>{{ entry.learned }}</p>
                </div>
                {% if entry.resources %}
                <div class="entry">
                    <h3>Resources to Remember:</h3>
                    <p>{{ entry.resources }}</p>
                </div>
                {% endif %}
            </article>
            {% if entry_tags %}
                <h3>Tagged with: </h3>
                {{ render_attached_tags(entry, entry_tags) }}
            {% endif %}
            <p><a href="{{ url_for('edit_tags', slug=entry.slug) }}">Add/Edit Tags</a></p>
        </div>
    </div>
    <div class="edit">
        <p><a href="{{ url_for('edit', slug=entry.slug) }}">Edit Entry</a> <a href="{{ url_for('delete', slug=entry.slug) }}">Delete Entry</a></p>
        <p></p>
    </div>
</section>
{% endblock %}
