{% extends 'layout.html'%}

{% block content %}
    {% if current_user.is_authenticated %}
        <h1>Hello, {{ current_user.username }}</h1>
        <h2>Here are your most recent journal entries:</h2>
        <div class="container">
            <div class="entry-list">
                <article>
                {% for entry in entries %}
                    <h2>
                        <a href="{{ url_for('details', entry_id=entry.id) }}">{{ entry.title }}</a>
                    </h2>
                        <p>{{ entry.timestamp.strftime('%m/%d/%Y') }}</p>
                {% endfor %}
                </article>
            </div>
        </div>
    {% else %}
        <h1>Hello! Log in to view your journal.</h1>
    {% endif %}
{% endblock %}
